<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studentlifemanager">

    <!-- permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_gray"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">

        <!-- activity -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.MyTaskActivity" />
        <activity android:name=".activity.MyBrowserActivity" />
        <activity android:name=".activity.MyExpenseActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SearchExpenseActivity" />
        <activity android:name=".activity.SearchTaskActivity" />


    </application>

</manifest>